#account-dialog #google-sign-in-button {
  margin-top: 17px !important;
}

#account-dialog #hello-text {
  display: none;
}

#account-dialog #google-sign-out-button {
  display: none;
}

#account-dialog #user-id-sentence {
  display: none;
}

#account-dialog .custom-button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  height: 40px !important;
  border-radius: 4px !important;
  width: 225px !important;
  margin-top: 17px !important;
  background-color: #7d7d7d !important;
  border: 0 !important;
  color: white !important;
  letter-spacing: 0.25px !important;
  outline: none !important;
}